{
    "extends": "airbnb-base",
    "commonjs": "true/false",
    "amd": "true/false",
    "rules": {
      "no-underscore-dangle": ["error", { "allow": ["_id"]}],
      "linebreak-style": 0
    }

  }